<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066793206076-sec4oomrjpdmn4bgg5a3ed93tm6svlha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066793206076-sec4oomrjpdmn4bgg5a3ed93tm6svlha</string>
	<key>API_KEY</key>
	<string>AIzaSyD9H8Zanf5r5D3fNRwjTuvsPVxmf2_6i5E</string>
	<key>GCM_SENDER_ID</key>
	<string>1066793206076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.Invested</string>
	<key>PROJECT_ID</key>
	<string>invested-fcdf2</string>
	<key>STORAGE_BUCKET</key>
	<string>invested-fcdf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066793206076:ios:eadbc5348cf6b56f6b1e39</string>
</dict>
</plist>